# Backend
backend/.venv/
backend/uploads/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/.env
backend/service-account.json
backend/service-account.json.json
backend/instance/

# Python cache
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo

# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/build/
frontend/dist/

# Global
.env
*.env
*.log

# Firebase local
.firebase/
.firebaserc

# Editor / OS
.vscode/
.DS_Store
Thumbs.db
